.menu {
  padding: 16px;
  display: flex;
  justify-content: center;
  margin-top: 10px;

  .class-item {
    $color: #e11584;
    @mixin colorOpacity($color, $op) {
      $setColor: rgba($color, $op);
      color: $setColor;
      border-bottom: 1px solid $setColor;
    }

    margin: 0 16px;
    padding-bottom: 3px;
    font-weight: 400;
    @include colorOpacity($color, 0.7);
    cursor: pointer;
    border-width: 0;

    &.active {
      font-weight: 500;
      @include colorOpacity($color, 1);
    }

    &:hover {
      @include colorOpacity($color, 1);
    }
  }
}
