.footer {
  padding: 16px;
  box-shadow: 0 0 5px #aaa;
  align-items: center;
  display: flex;
  color: #ffffff;
  background-color: rgb(19, 52, 65);
  justify-content: flex-end;
  margin-top: 16px;

  .email {
    color: #dddddd;
    font-size: 0.9rem;
  }
}
