* {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.container .header {
  padding: 16px;
  box-shadow: 0 0 5px #aaa;
  align-items: center;
  display: flex;
  color: #ffffff;
  background-color: #e11584;
}

.container .header .content {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.container .header .content .navigator a {
  text-decoration: none;
  color: #dfdfdf;
}

.container .header .content .navigator a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.container .header .logo {
  background-image: url("./icon2-1024.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.container .content {
  flex: 1;
  display: flex;
}

.container .content #github-iframe {
  flex: 1;
  flex-grow: 1;
  border: none;
}
